3-DataMembers{ComplexHolders}/WebClient/Connected Services/MyServiceInWeb/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_3_DataMembers_ComplexHolders_" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_3_DataMembers_ComplexHolders_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexInfoHolder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexInfoHolder" nillable="true" type="tns:ComplexInfoHolder" />
</xs:schema>